@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Black+Ops+One&family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}

:root{
    --footer_height: 55px;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    font-size: 17px;
}

main{
    height: calc(100vh - var(--footer_height));
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}

.titulo{
    font-size: 35px;
    font-family: "Black Ops One", sans-serif;
    text-align: start;
}

.titulo-destaque{
    color: #e95157;
}

.apresentacao-conteudo{
    margin: 0 10%;
    font-family: "Press Start 2P", sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Foto */
.foto{
    height: 400px;
    padding: 8px;
    border: 2px dashed #e95157;
}

/*botões-----------------------------------------------------*/
.subtitulo-botoes{
    font-size: 20px;
}

.botoes-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: transparent;
    border: 3px outset #e95157;
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    text-decoration: none;
    color: #e95157;
    font-weight: bold;
    font-size: 20px;
    transition: 0.3s
}

.botao:hover{
    cursor: pointer;
    background-color: #e95157;
    border-color: #F6F6F6;
    color: #F6F6F6;
    
}

.img{
    height: 33px;
}

.rodape{
    display: flex;
    background-color: #e95157;
    color: #000000;
    height: var(--footer_height);
    font-family: "Black Ops One", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}